@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
}

@mixin dark-mode-elements {
  background-color: $dark-blue;
  color: $white;
}

@mixin media-padding {
  @media (max-width: 850px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
