.search-filter-block {
  @include media-padding;
  background-color: $very-light-gray;
  position: relative;
  padding: 40px 60px 15px;

  @include flex-row-center;
  justify-content: space-between;
  transition: background-color 0.3 ease-in-out;
}

.search-filter-block-dark {
  @include dark-mode-elements;
  background-color: $very-dark-blue;
}

@media (max-width: 850px) {
  .search-filter-block {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 100px;
  }
}
